<!-- user_list.html -->
{% extends 'base.html' %}

{% block title %} User List Page{% endblock title %}

{% block content %}
 <div class="wrapper">
  <div class="content">
    {% if users|length == 0 %}
     <h2>No Registered User Yet !!!</h2>
    {% else %}

      <h2>User List</h2>
      <table>
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Position</th>
            <th>User Type</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Registered Date</th>
            <th>Photo</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.full_name }}</td>
              <td>{{ user.position }}</td>
              <td>{{ user.user_type }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.registered_date }}</td>
              <td><img class="img-thumbnail" src="{{ user.image.url }}" width="100" height="100" alt=""></td>
              <td><a href="{% url 'edit_user' user.id %}">Edit</a></td>
              <td><a href="{% url 'delete_user' user.id %}">Delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
 </div>
{% endblock content %}
